@tailwind base;
@tailwind components;
@tailwind utilities;

.disable {
    pointer-events: none;
    opacity: 0.2;
}

.shorte1 {
    display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: wrap;
}
.shorte2 {
    display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: wrap;
}
.shorten3 {
    display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: wrap;
}
.shorte1 {
    display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  white-space: wrap;
}